.container-footer {
  margin-top: 2.5rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  background-color: #b5e5c5;
}

.container-footer form {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

title {
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.title-footer {
  margin-left: 2%;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.msg-message {
  margin-bottom: 1rem;
}
#fname,
#emailAddress {
  height: 1.5rem;
}
#sujet {
  height: 7rem;
  width: 50%;
}
#fname {
  margin-left: 2rem;
  width: 9rem;
}
.email-input {
  margin-top: 1rem;
}
#btn-submit {
  margin: 1rem auto;
  padding: 0.7rem;
  background-color: #ccfccb;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
#emailAddress {
  margin-left: 5.6rem;
  margin-bottom: 1rem;
  width: 9rem;
}

.contact_form {
  text-align: left;
}
.row {
  margin-top: 1rem;
}
#message {
  margin-top: 1.5rem;
  width: 50vw;
  height: 15vh;
}

.btnFooter {
  background-color: #568259;
  margin-right: auto;
  margin-left: auto;
  word-break: break-word;
}

@media screen and (max-width: 640px) {
  .container-footer {
    border: 3px solid #ccfccb;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
}
