.Header {
  list-style-type: none;
  background-color: #96e6b392;
  color: #464e47;
  display: flex;
  align-items: center;
  height: 9vh;
  justify-content: space-between;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  font-family: Open Sans,mm-main,arial,sans-serif;
  color: #464e47;
  font-size: 20px;
}
a:hover {
  font-size: 25px;
}

.Bottom {
  display: none;
}
.logo {
  height: 10vh;
}

