.Header {
  list-style-type: none;
  color: #464e47;
  display: flex;
  align-items: center;
  height: 9vh;
  justify-content: space-around;
  padding-right: 1rem;
}

a {
  text-decoration: none;
  font-family: Open Sans,mm-main,arial,sans-serif;
  color: blue;
  font-size: 12px;
}
a:hover {
  font-size: 12px;
}

.Bottom {
  display: none;
}
.logo {
  height: 10vh;
}
.searchInput{
  flex: 1 1;
position: relative;
width: 80%;
height: 44px;
padding-left: 16px;
padding-right: 40px;
  border-radius: 22px;
  font-size: 16px;
  color: #0c193a;
  border: 1px solid #d8dadf;
  background-color: #fafafa;
}
