.Notice{
  display: flex;
  flex-direction: column;
  margin : auto;
  text-align: center;
  width: 90vh;
}


.Produits{
  background-color: #e9efff;
  flex-direction: column;
  text-align: left;
  border-radius: 8px;
  margin: 16px 0px 0;
  padding: 8px;

}
.Image{
  height: 10rem;
}

.Links{
  background-color: #a3f3f3;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.link{
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: Open Sans,mm-main,arial,sans-serif;
  font-size: 1.5rem;
}
